{% for event in site.data.events.events %}
	{% if event.name == currentEvent %}

		<div class="event-overview">
			<h1 id="event-name" class="event-name">{{ event.name }}</h1>
		    {% include partial-date.html event=event %}


			{% if event.registration == "open" %}

				{% if event.price %}
					<span class="event-price">
						{{ event.price }}
					</a>
				{% endif %}

				{% if event.url-meetup %}
					<a class="event-respond" href="{{ event.url-meetup }}">
						RSVP
					</a>
				{% endif %}

				{% if event.url-eventbrite %}
					<a class="event-respond" href="{{ event.url-eventbrite }}">
						Get Tickets
					</a>
				{% endif %}

			{% endif %}

		</div>

        {% include partial-event-description.html event=event %}


		{% if event.talks %}

			<hr>

			<h2 id="event-talks">Talks</h2>
            {% include partial-talk-listing.html event=event parent="talk-container" descriptions="true" avatars="true" %}

		{% endif %}


        {% if event.venue %}

            <hr>

            <h2 id="event-venue">Venue</h2>
            {% for venue in site.data.venues.venues %}
                {% if venue.name == event.venue %}

                    {% include partial-venue.html venue=venue %}

                {% endif %}
            {% endfor %}

        {% endif %}

		{% if event.sponsors %}

			<hr>

			<h2 id="event-sponsors">Sponsors</h2>
			{% if event.sponsor-description %}
				{{ event.sponsor-description }}
			{% endif %}
            {% include partial-sponsor-listing.html event=event %}
		{% endif %}


		{% if event.afterparty %}

			<hr>

			<h2 id="event-afterparty">Afterparty</h2>
			{% for partyID in site.data.events.events %}
				{% if partyID.name == event.afterparty %}

					{% for venue in site.data.venues.venues %}
						{% if venue.name == partyID.venue %}
							{% include partial-venue.html venue=venue %}
						{% endif %}
					{% endfor %}

					{% for p in partyID.description %}
						<p>{{ p.p }}</p>
					{% endfor %}

				{% endif %}
			{% endfor %}
		{% endif %}


		{% if event.afterwards %}

			<hr>

			<h2 id="event-afterwards">Afterwards</h2>
			<p>{{ event.afterwards }}</p>
		{% endif %}


	{% endif %}
{% endfor %}