<div class="venue vcard">
	<a href="{{ include.venue.url }}" class="venue-name fn">
	  {{ include.venue.name }}
	</a>
	<div class="venue-address">
		<p class="adr">
			<span class="street-address">{{ include.venue.address }}</span>
			{% if include.venue.map %}
				<a href="{{ include.venue.map }}">
				  (map)
				</a>
			{% endif %}<br>
			<span class="city">{{ include.venue.city }}</span>,
			<span class="region">{{ include.venue.province }}</span>
			<br><span class="country-name">{{ include.venue.country }}</span>
		</p>
	</div>
</div>