<footer class="site-footer {{ include.wrapper }}">

    <div class="wrapper">


        <div class="site-footer-events">
            <h3 class="site-footer-header">Latest Events</h3>
            <ul class="event-list">
            {% for event in site.data.events.events limit:3 %}
                {% if event.type != "afterparty" %}
                    <li class="event" id="event-{{ event.date }}">
                        {% include partial-event-small.html event=event date="true" %}
                    </li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>


        <div class="site-footer-blog">
            <h3 class="site-footer-header">Recent News</h3>
            <ul class="post-list">
                {% for post in site.posts limit:3 %}
                <li class="post">
                    <span class="event-date">{{ post.date | date: "%b %-d, %Y" }}</span>
                    <a class="post-name" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>


        <div class="site-footer-links">
            <ul class="social-media-list">
                {% if site.twitter_username %}
                <li class="link">
                    <a href="https://twitter.com/{{ site.twitter_username }}">
                    <span class="username">@{{ site.twitter_username }}</span>
                    </a>
                </li>
                {% endif %}

                <li class="link">
                    <a href="http://www.meetup.com/styleandclass/">S&amp;C on Meetup</a>
                </li>

                {% if site.github_username %}
                <li class="link">
                    <a href="https://github.com/{{ site.github_username }}">
                    <span class="username">Github</span>
                    </a>
                </li>
                {% endif %}

                <li class="link rss-subscribe">
                    <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>
                </li>
            </ul>
        </div>

    </div>

    <div class="site-copyright">
      <p>&copy; Copyright 2013 &#8211; 2016, Style &amp; Class</p>
    </div>

    <script src="//use.typekit.net/yve3zwb.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

</footer>