<div class="person">

    {% include partial-person-avatar.html person=include.person %}

    <div class="person-description">

    	<h3 class="person-name">{{ include.person.name }}</h3>

    	{% if include.person.bio %}
    		<div class="person-bio">
    		{% for p in include.person.bio %}
    			<p>{{ p.p }}</p>
    		{% endfor %}
    		</div>
    	{% endif %}
    </div>

    <ul class="person-social">
        {% if include.person.twitter %}
            <li class="person-twitter">
                <a href="https://twitter.com/{{ include.person.twitter }}">
                    @{{ include.person.twitter }}
                </a>
            </li>
        {% endif %}

        {% if include.person.dribbble %}
            <li class="person-dribbble">
                <a href="https://dribbble.com/{{ include.person.dribbble }}">
                    Dribbble
                </a>
            </li>
        {% endif %}

        {% if include.person.codepen %}
            <li class="person-codepen">
                <a href="https://codepen.io/{{ include.person.codepen }}">
                    CodePen
                </a>
            </li>
        {% endif %}

        {% if include.person.github %}
            <li class="person-github">
                <a href="https://github.com/{{ include.person.github }}">
                    Github
                </a>
            </li>
        {% endif %}

        {% if include.person.site %}
            <li class="person-www">
                <a href="{{ include.person.site }}">
                    www
                </a>
            </li>
        {% endif %}
    </ul>

</div>