{% for person in site.data.people.people %}
    {% if person.name == include.talk.speaker %}

        {% if talk.type %}
            {% assign talkClass = talk.type %}
        {% endif %}

        <li class="talk talk-{{talkClass}} media">
            {% if include.showAvatar %}
                {% include partial-person-avatar.html person=person %}
            {% endif %}
            <div class="bd">
                <h3 class="title">{{ include.talk.title }}</h3>
                <a class="speaker" href="/speakers/#{{ person.twitter }}">{{ person.name }}</a>
                {% if talk.slides %}
                    <span class="sep">|</span> <a href="{{ talk.slides }}">Slides</a>
                {% endif %}
                {% if include.showDescription == "true" %}
                <div class="talk-description">
                    {% if talk.description-long %}
                    	{% for p in talk.description-long %}
                    		<p>{{ p.p }}</p>
                    	{% endfor %}
                    {% else %}
                    	<p>{{ talk.description-short }}</p>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </li>

    {% endif %}
{% endfor %}