{% for event in site.data.events.events %}
	{% if event.name == currentEvent %}

		<div class="event-overview{% if event.registration == "open" %} register{% endif %}">

			<div class="summary">
				<h1 id="event-name" class="event-name">{{ event.name }}</h1>
			    {% include partial-date.html event=event %}
			</div>

			{% if event.registration == "open" %}
				<div class="registration">
					{% if event.url-meetup %}
						<a class="event-respond button" href="{{ event.url-meetup }}">
							RSVP
						</a>
					{% endif %}

					{% if event.url-eventbrite %}
						<a class="event-respond button" href="{{ event.url-eventbrite }}">
							Get Tickets
						</a>
					{% endif %}

					{% if event.price %}
						<span class="event-price">
							{{ event.price }}
						</a>
					{% endif %}
				</div>
			{% endif %}

		</div>


        <div class="event-details{% if event.sponsors %} with-sponsors{% endif %}">

	    	<div class="details">

	        {% include partial-event-description.html event=event %}

	        {% if event.venue %}
	            {% for venue in site.data.venues.venues %}
	                {% if venue.name == event.venue %}
		        <div class="event-venue">
		        	<div class="summary">
			            <h2 id="event-venue">Venue</h2>
	                    {% include partial-venue.html venue=venue %}
			        </div>
			        <div class="detail">
	                    {% include partial-venue-map.html venue=venue %}
			        </div>
		        </div>
	                {% endif %}
	            {% endfor %}
	        {% endif %}


			{% if event.talks %}
		        <div class="event-talks">
		        	<div class="summary">
						<h2 id="event-talks">Talks</h2>
			        </div>
			        <div class="detail">
			            {% include partial-talk-listing.html event=event parent="talk-container" descriptions="true" avatars="true" %}
			        </div>
			    </div>
			{% endif %}

			{% if event.panel %}
		        <div class="event-talks">
		        	<div class="summary">
						<h2 id="event-talks">Panelists</h2>
			        </div>
			        <div class="detail">
			            {% include partial-panel-listing.html event=event parent="panel-container" descriptions="false" avatars="true" %}
			        </div>
			    </div>
			{% endif %}


			{% if event.afterparty %}
				{% for partyID in site.data.events.events %}
					{% if partyID.name == event.afterparty %}

						{% for venue in site.data.venues.venues %}
							{% if venue.name == partyID.venue %}
		        <div class="event-after">
		        	<div class="summary">
						<h2 id="event-afterparty">Afterparty</h2>
						{% include partial-venue.html venue=venue %}

						{% for p in partyID.description %}
							<p>{{ p.p }}</p>
						{% endfor %}
			        </div>
			        <div class="detail">
						{% include partial-venue-map.html venue=venue %}
			        </div>
			    </div>
							{% endif %}
						{% endfor %}

					{% endif %}
				{% endfor %}
			{% endif %}


			{% if event.afterwards %}
		        <div class="event-after">
		        	<div class="summary">
						<h2 id="event-afterwards">Afterwards</h2>
			        </div>
			        <div class="detail">
						<p>{{ event.afterwards }}</p>
			        </div>
			    </div>
			{% endif %}

		</div>


		{% if event.sponsors %}
			<div class="sponsors">
				<h2 id="event-sponsors">Sponsors</h2>
	            {% include partial-sponsor-listing.html event=event %}
				{% if event.sponsor-description %}
					<p class="sponsor-info">{{ event.sponsor-description }}</p>
				{% endif %}
	        </div>
		{% endif %}

	</div>

	{% endif %}
{% endfor %}