//
//  Talk-based components
//

//  Talk container component
//  (used for larger feature listings)
//
.talk-container {
    margin: 0;

    .talk {
        list-style: none;

        @include screen-medium {
            padding: 0 0 2rem 0;            
        }
    }
    .title {
        margin-bottom: 0;
    }
    .speaker {
        display: block;
        margin-bottom: 1rem;
    }
}


//  Talk list component
//  (used for brief, condensed listings)
//
.talk-list {

    @include screen-medium {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    margin: 0;

    .talk {
        list-style: none;

        @include screen-medium {
            flex: 0 0 33%;
            box-sizing: border-box;
            padding: 0 2rem 1rem 2rem;

            &:nth-child(3n+1) {
                padding-left: 0;
            }
            &:nth-child(3n) {
                padding-right: 0;
            }
        }
    }

    &.count-2 {
        .talk {
            @include screen-medium {
                flex: 0 0 50%;
            }
        }
    }

    .title {
        margin: 0;
        font-size: 1rem;
    }
    .speaker {
        display: block;
        margin-bottom: 0.5rem;
    }
}

//  Talk condensed component
//  (used for talk summaries)
//
.talk-condensed {
    margin: 0;
}