//
//    footer component
//

.site-footer {
    font-size: $base-font-size * 0.875;
    color: rgba($text-colour-reversed, 0.6);

    a {
        color: $text-colour-reversed;
    }
}

.site-footer .wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: stretch;

    padding: 1rem 0;

    @include screen-small {
        flex-direction: row;
        flex-wrap: nowrap;

        padding: 2rem 0;
    }
}
.site-footer-events, .site-footer-blog {
    flex: 1 1 auto;

    padding-bottom: 1rem;
    border-bottom: dotted 1px rgba($text-colour-reversed, 0.2);

    @include screen-small {
        padding-bottom: 0;
        padding-right: 3rem;
        border-right: dotted 1px rgba($text-colour-reversed, 0.2);
        border-bottom: 0;
    }
}
.site-footer-blog {
    padding-top: 1rem;

    @include screen-small {
        padding-top: 0;
        padding-left: 3rem;
    }
}
.site-footer-header {
    font-size: $base-font-size * 0.875;
    margin-bottom: 0.5rem;
}
.site-copyright {
    padding-top: 2rem;
    text-align: center;
}


//
//  home page footer variation
//

.site-footer.home-footer {
    color: rgba($text-colour, 0.6);
    padding-top: 2rem;

    a {
        color: $text-colour;
    }

    .site-footer-events, .site-footer-blog {
        border-bottom: dotted 1px rgba($text-colour, 0.2);

        @include screen-small {
            border-bottom: none;
            border-right: dotted 1px rgba($text-colour, 0.2);
        }
    }

}


// event list
.site-footer-events {

    .event-list {
        margin: 0;

        .event {
            padding: 0;
            margin: 0 0 0.5rem 0;
            border: none;
            list-style: none;
        }
        .event-name {
            margin-bottom: 0;
        }
        .event-date {
            padding-bottom: 0;
            margin-bottom: 0;
            border-bottom: none;
        }

    }
}


// post list
.site-footer-blog {

    .post-list {
        margin: 0;
    }
    .post {
        margin: 0 0 0.5rem 0;
        list-style: none;
    }
}


// link list
.site-footer-links {
    flex: 0 1 auto;

    text-align: center;
    padding: 1rem 0;

    @include screen-small {
        flex: 1 0 7rem;

        text-align: left;
        padding: 0 0 0 1rem;
    }
    @include screen-medium {
        padding-left: 3rem;
    }

    .social-media-list {
        margin: 0;
    }
    .link {
        display: inline-block;
        margin: 0 0.5rem;
        list-style: none;

        @include screen-small {
            display: block;
            margin: 0 0 1rem 0;
        }
    }
}

