---
layout: page
title: Organizers
---

<h1>Organizers</h1>

<ul class="people-container">
    {% for person in site.data.people.people %}
        {% if person.organizer == "true" %}
            <li id="{{ person.twitter }}">
                {% include partial-person.html person=person %}
            </li>
        {% endif %}
    {% endfor %}
</ul>


<h1>Organizers Emeritus</h1>

<ul class="people-container">
    {% for person in site.data.people.people %}
        {% if person.organizer == "former" %}
            <li id="{{ person.twitter }}">
                {% include partial-person.html person=person %}
            </li>
        {% endif %}
    {% endfor %}
</ul>