---
layout: page
title: Organizers
---

<h1>Organizers</h1>

<ul class="people-container">
    {% for person in site.data.people.people %}
        {% if person.organizer == "true" %}
            {% include partial-person.html person=person container="li" %}
        {% endif %}
    {% endfor %}
</ul>


<h1>Organizers Emeritus</h1>

<ul class="people-container">
    {% for person in site.data.people.people %}
        {% if person.organizer == "former" %}
            {% include partial-person.html person=person container="li" %}
        {% endif %}
    {% endfor %}
</ul>