//
//  Sponsor-based components
//

.sponsor-list {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-around;
	margin: 0;
}
.sponsor {
	flex: 0 0 33%;
	box-sizing: border-box;
	padding: 1rem 0.5rem;
	margin: 0;

	text-align: center;
	list-style: none;
}
.sponsor-logo {
    max-width: 83px;
    max-height: 83px;
}
.sponsor-description {

}
