//
//  Event-based components
//


//  Event container component
//  (used for larger feature listings)
//
.event-container {

    margin: 0;

    .event {
        padding: 0 0 2rem 0;
        margin: 0 0 2rem 0;
        list-style: none;
    }

    .event-description {
        margin-bottom: 2rem;
    }

    @include screen-large {
        .event-description {
            margin-left: $grid-unit + $gutter-unit;
            margin-bottom: 3rem;
        }
    }
}

//
//  Event date component
//  (used for calendar date formatting)
//
.event-date {
    @include type-header-secondary;

    &.calendar {
        @include screen-xsmall {
            color: rgba($text-colour-reversed, 0.7);
            text-align: center;

            .b {
                display: block;
                font-size: $base-font-size;
                line-height: 1;
            }
            .d {
                display: block;
                color: $text-colour-reversed;
                font-size: $base-font-size * 2;
                line-height: 1;
            }
            .outline {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 6rem;
                height: 6rem;
                border-radius: 50%;
                background: $brand-highlight;
            }
            .separator {
                display: none;
            }
            .Y {
                display: block;
                padding: 0.5rem 1rem;
                color: $brand-highlight;
                font-size: $base-font-size;
            }
        }
    }
}
// variations with calendar date formats
.with-calendar {

    // only break up the display on larger screens
    @include screen-xsmall {
        .event {
            display: flex;
        }
        .date {
            flex: 0 0 $grid-unit + $gutter-unit;
        }
        .summary {
            flex: 1 1 auto;
        }
    }
}




//
//  Event list component
//  (used for brief, condensed listings)
//
.event-list {

    margin: 0;

    .event {
        padding: 1rem 0 1rem 0;
        margin: 1rem 0 1rem 0;
        border-bottom: dotted 1px $grey-colour-light;
        list-style: none;

        &:last-child {
            border-bottom: none;
        }

        h2 {
            margin-bottom: 0;
        }
    }
    .event-name {
        @include type-header-primary;

        display: block;
        margin-bottom: 0;

        @include screen-xsmall {
            margin-bottom: 1rem;
        }
    }
    .event-date {
        display: inline-block;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: solid 1px $grey-colour-light;
        @include screen-xsmall {
            padding-bottom: none;
            border-bottom: none;
        }
    }
    .event-description {
        padding-bottom: 0.5rem;
    }

    .talk {

        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        .title {
            font-weight: normal;
        }
    }
}
//
//  Event next component
//  (used to call out the next event we have coming up)
//
.event-next {

    display: flex;
    flex-direction: row;
    align-items: top;

    padding: 1rem;
    color: $text-colour-reversed;
    background: $brand-highlight;

    text-align: left;

    .title {
        flex: 1 0 auto;
        margin: 0 1rem 0 0;
        color: rgba($text-colour-reversed, 0.4);
        font-size: $base-font-size;
    }
    .talk-condensed {
        flex: 2 0 auto;
    }
    .event-name {
        &:link, &:visited {
            color: $text-colour-reversed;
        }
    }
    .event-date {
        display: block;
        color: rgba($text-colour-reversed, 0.7);
    }
    .no-events {
        list-style: none;
    }
}




//
//  Main Event Overview
//
.event-overview {
    @include bordered;

    font-size: $base-font-size * 1.25;
    text-align: center;

    .button {
        display: inline-block;
    }

    // turn on flexbox if registration is open
    @include screen-small {

        text-align: left;

        &.register {
            display: flex;
            .summary {
                flex: 0 1 75%;
            }
            .registration {
                flex: 0 1 25%;
                padding-top: 0.5rem;
                text-align: right;
            }
        }
    }

}
.event-respond {
    display: block;
    margin-bottom: 0.75rem;
    white-space: nowrap;
}


//
//  Main Event detail breakdown
//
.event-details {

    @include screen-small {

        // turn on flexbox if this event has sponsors
        &.with-sponsors {
            display: flex;
            .details {
                flex: 0 1 75%;
            }
            .sponsors {
                flex: 0 1 25%;
            }
        }

        // override sponsor default styling a bit
        .sponsors h2 {
            @include type-header-secondary;
            float: right;
            width: 83px;
            text-align: center;
        }
        .sponsor-list {

            display: block;
            padding-left: 20px;
            text-align: right;

            .sponsor {
                display: inline-block;
                flex: none;
                padding: 0 0 1rem 0;
                width: 83px;
                float: right;
                clear: right;
                text-align: center;
            }
        }
        .sponsor-logo {
            padding-bottom: 0.5rem;
            width: 58px;
        }
        .sponsor-description h3 {
            @include type-header-small;
        }
        .sponsor-info {
            clear: right;
            padding-left: 4rem;
            text-align: right;
            @include type-base-small;
        }
    }

}

// Main Event content items
.event-venue, .event-talks, .event-after {

    @include type-base-small;
    margin-bottom: 2rem;

    @include screen-large {

        display: flex;
        margin-bottom: 3rem;

        .summary {
            flex: 0 0 $grid-unit + $gutter-unit;
            padding-right: 20px;
        }
        .detail {
            flex: 1 1 auto;
        }
    }

    h2 {
        @include type-header-secondary;
    }
}

.venue-name {
    display: inline;
    margin: 0;
}
.venue-address {
    display: inline;
    margin: 0;
}

.event-map {
    width: 100%;
    height: 300px;
    background: $grey-colour-lighter;
}
