//
//  Post-based components
//

//
//  Post list component
//  (used for brief, condensed listings)
//
.post-list {

    .post-name {
        display: block;
    }
}


.post-header {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: dotted 1px $grey-colour-light;
}
.post-date {
	text-transform: uppercase;
}
.post-author {
	color: $brand-contrast;
}
