//
//  Event-based components
//


//  Event container component
//  (used for larger feature listings)
//
.event-container {

    margin: 0;

    .event {
        padding: 0 0 2rem 0;
        margin: 0 0 2rem 0;
        list-style: none;
    }
    .event-name {
        display: block;
    }

    .event-overview {
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        border-bottom: solid 1px $grey-colour-lighter;
        font-size: $base-font-size * 1.25;

        h2 {
            margin: 0;
        }
    }
}

//
//  Event date component
//  (used for calendar date formatting)
//
.event-date.calendar {
    @include screen-xsmall {
        color: rgba($text-colour-reversed, 0.7);
        text-align: center;

        .b {
            display: block;
            font-size: $base-font-size;
            line-height: 1;
            text-transform: uppercase;
        }
        .d {
            display: block;
            color: $text-colour-reversed;
            font-size: $base-font-size * 2;
            line-height: 1;
        }
        .outline {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 6rem;
            height: 6rem;
            border-radius: 50%;
            background: $brand-highlight;
        }
        .separator {
            display: none;
        }
        .Y {
            display: block;
            padding: 0.5rem 1rem;
            color: $brand-highlight;
            font-size: $base-font-size;
        }
    }
}
// variations with calendar date formats
.with-calendar {
    .event {
        position: relative;
    }
    .event-description, .talk-list {
        @include screen-xsmall {
            padding-left: 6.5rem;
        }
        @include screen-medium {
            padding-left: 12.5rem;
        }
    }
    .event-date.calendar {
        @include screen-xsmall {
            position: absolute;
            top: 4.5rem;
            left: 0;
        }
    }
}



//
//  Event list component
//  (used for brief, condensed listings)
//
.event-list {

    margin: 0;

    .event {
        padding: 0 0 2rem 0;
        margin: 0 0 3rem 0;
        border-bottom: dotted 1px $grey-colour-lighter;
        list-style: none;

        &:last-child {
            border-bottom: none;
        }

        h2 {
            margin-bottom: 0;
        }
    }
    .event-name {
        display: block;
        margin-bottom: 0;

        @include screen-xsmall {
            margin-bottom: 2rem;
        }
    }
    .event-date {
        display: inline-block;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: solid 1px $grey-colour-light;
        @include screen-xsmall {
            padding-bottom: none;
            border-bottom: none;
        }
    }
}
//
//  Event next component
//  (used to call out the next event we have coming up)
//
.event-next {

    display: flex;
    flex-direction: row;
    align-items: top;

    padding: 1rem;
    color: $text-colour-reversed;
    background: $brand-highlight;

    text-align: left;

    .title {
        flex: 1 0 auto;
        margin: 0 1rem 0 0;
        color: rgba($text-colour-reversed, 0.4);
        font-size: $base-font-size;
    }
    .talk-condensed {
        flex: 2 0 auto;
    }
    .event-name {
        &:link, &:visited {
            color: $text-colour-reversed;
        }
    }
    .event-date {
        display: block;
        color: rgba($text-colour-reversed, 0.7);
    }
    .no-events {
        list-style: none;
    }
}

