//
//    Site-wide Header
//
.site-header {
    @extend %clearfix;

    @include screen-medium {
        margin-bottom: 4rem;
    }

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        position: relative;

        @include screen-medium {
            flex-wrap: nowrap;
        }
    }
}

.site-title {

    flex: 1 0 100%;

    @include screen-medium {
        flex: 0 0 200px;
        width: 200px;
    }

    height: 60px;
    padding-top: 1rem;

    color: $brand-colour;
    text-align: center;

}
.site-logo-img {
    max-width: 176px;
}

.site-nav {
    flex: 1 1 auto;
    position: relative;
    text-align: center;
    padding: 1rem 0;

    @include screen-xsmall {
        padding: 2rem 0 3rem 0;
    }
    @include screen-medium {
        padding: 3rem 0 0 0;
        text-align: right;
    }
}
.site-nav-wrapper {
    margin: 0;
}
.site-nav-item {
    display: inline-block;
    padding: 0.5rem 0.25rem;
    margin: 0;

    @include screen-xsmall {
        padding: 0.5rem 0.75rem;
    }

    text-transform: uppercase;
    list-style: none;

    @include screen-medium {
        margin: 0 0.75rem;
    }

    &.is-selected {
        a {
            color: $brand-highlight;
        }
    }
    a:hover, a:focus {
        text-decoration: none;
        border-bottom: solid 1px $grey-colour-lighter;
        transition: border-color 0.25s ease-out;
    }
}
.subNav {

    position: absolute;
    width: 100%;
    margin: 0;
    text-align: center;

    @include screen-medium {
        top: 6rem;
        right: 2rem;
        width: auto;
        margin: 0;
    }

    .site-nav-item {
        text-transform: none;
        padding: 0;
        margin: 0 0.25rem;

        @include screen-xsmall {
            margin: 0 0.75rem;
        }

        &.is-selected {
            background: transparent;
            a {
                color: $text-colour;
            }
        }
    }
}