/*

    Base responsive layout

*/
.site-header {
    width: 100%;

    .wrapper {
        @include screen-xsmall {
            margin: 0 40px;
        }
        @include screen-xlarge {
            width: 960px;
            margin: 0 auto;
        }
    }

}
.page-heading {
    @include bordered;
    text-align: center;

    @include screen-medium {
        text-align: left;
    }
}
.page-content, .site-footer {
    width: 100%;

    .wrapper {
        margin: 0 20px;

        @include screen-xsmall {
            margin: 0 40px;
        }
        @include screen-xlarge {
            width: 960px;
            margin: 0 auto;
        }
    }
}
.page-decoration {
    padding-bottom: 4rem;
    background-color: #fff;

    @include screen-medium {
        min-height: 60vh;
    }
}


// The grid object
@include screen-xsmall {
    .grid {
        display: flex;
    }
    .grid-meta {
        flex: 0 0 $grid-unit + $gutter-unit;
        padding-right: 20px;
    }
    .grid-content {
        flex: 1 1 auto;
    }
}

