//
//    Site-wide Header
//
.site-header {
    @extend %clearfix;
    margin-bottom: 4rem;

    @include screen-medium {
        margin-bottom: 2rem;
    }

    background-color: $brand-colour;
    background-image: linear-gradient(to bottom, rgba(#5b2c3f, $overlay-opacity-start) 0%, rgba(#5b2c3f, $overlay-opacity-end) 100%), url(/images/site/site-bg.gif);
    background-position: 0 0, 50% bottom;
    background-repeat: repeat-x, no-repeat;

    @include screen-medium {
        padding-bottom: 1rem;
        margin-bottom: 3rem;
    }

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        position: relative;

        @include screen-medium {
            flex-wrap: nowrap;
        }
    }
}

.site-title {

    flex: 1 0 100%;
    height: 60px;
    color: rgba($text-colour-reversed, 0.9);
    text-align: center;

    &:hover, &:focus {
        color: $text-colour-reversed;
    }

    svg {
        position: relative;
        top: -0.5rem;
    }

    @include screen-medium {
        text-align: left;
        flex: 0 0 200px;
        width: 200px;
        padding-top: 1rem;

        svg {
            top: 0;
        }
    }

}
.site-logo-img {
    max-width: 176px;
}

.site-nav {
    flex: 1 1 auto;
    position: relative;
    text-align: center;
    padding: 0 0 1rem 0;

    @include screen-xsmall {
        padding: 0.5rem 0;
    }
    @include screen-medium {
        padding: 3rem 0 0 0;
        text-align: right;
    }
}
.site-nav-wrapper {
    margin: 0;
}
.site-nav-item {
    display: inline-block;
    padding: 0.5rem 0.25rem;
    margin: 0 0.15rem;

    text-transform: uppercase;
    list-style: none;


    &.is-selected {
        a {
            background: $brand-highlight;
            border-radius: 2px;
        }
    }

    @include screen-xsmall {
        padding: 0.5rem 0.75rem;
    }
    @include screen-medium {
        margin: 0 0.75rem;
    }

    a {
        display: inline-block;
        color: rgba($text-colour-reversed, 0.85);
        padding: 0.25rem 0.5rem;
        margin: -0.25rem -0.5rem;
    }
    a:hover, a:focus {
        color: $text-colour-reversed;
        text-decoration: none;
        transition: border-color 0.25s ease-out;
    }
}
.sub-nav {
    position: absolute;
    bottom: -2.5rem;
    width: 100%;
    margin: 0;
    text-align: center;

    @include screen-xsmall {
        bottom: -2.5rem;
    }

    @include screen-medium {
        top: 10.5rem;
        bottom: auto;
        right: 1rem;
        width: auto;
        margin: 0;
    }

    .site-nav-item {
        padding: 0;
        margin: 0 0.25rem;

        text-transform: none;

        @include screen-xsmall {
            margin: 0 0.75rem;
        }

        a {
            color: $brand-highlight;
            &:hover, &:focus {
                color: $brand-contrast;
            }
        }
        &.is-selected a {
            color: $text-colour;
            background: none;
        }

    }
}