$base-font-family:      jaf-bernina-sans, sans-serif;
$base-font-size:        1rem;
$small-font-size:       $base-font-size * 0.875;
$base-line-height:      1.5;

$spacing-unit:          2rem;

$text-colour:           #3e444d;
$text-colour-reversed:  #fff;
$background-color:      #f6efe6;

$brand-colour:          #753c51;
$brand-highlight:       #ca4c33;
$brand-contrast:        #dba58c;

$grey-colour:           #beb3ae;
$grey-colour-light:     lighten($grey-colour, 10%);
$grey-colour-lighter:   lighten($grey-colour, 15%);
$grey-colour-dark:      darken($grey-colour, 25%);


// opacity of the gradient that overlays the header, home page
$overlay-opacity-start: 0.5;
$overlay-opacity-end: 0.7;


/*

    Base media query mixins

*/

$xxsmall: 320px;
$xsmall: 480px;
$small: 640px;
$medium: 800px;
$large: 960px;
$xlarge: 1120px;
$xxlarge: 1280px;

@mixin screen-xxlarge {
  @media (min-width: #{$xxlarge + 1px}) {
    @content;
  }
}
@mixin screen-xlarge {
  @media (min-width: #{$xlarge + 1px}) {
    @content;
  }
}
@mixin screen-large {
  @media (min-width: #{$large + 1px}) {
    @content;
  }
}

@mixin screen-medium {
  @media (min-width: #{$medium + 1px}) {
    @content;
  }
}
@mixin screen-small {
  @media (min-width: #{$small + 1px}) {
    @content;
  }
}
@mixin screen-xsmall {
  @media (min-width: #{$xsmall + 1px}) {
    @content;
  }
}
@mixin screen-xxsmall {
  @media (min-width: #{$xxsmall + 1px}) {
    @content;
  }
}


@mixin bordered {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: dotted 1px $grey-colour-light;  
}