---
layout: default
title: Style Guide
permalink: /styleguide/
---

<h1 class="page-heading">Style Guide</h1>

<section class="delineated">
    <h1>Headings</h1>
    <h2>Heading level 2</h2>
    <h3>Heading level 3</h3>
    <h4>Heading level 4</h4>
    <h5>Heading level 5</h5>
    <h6>Heading level 6</h6>
</section>


<section class="delineated">
    <h2>Body Text</h2>

    <p>McSweeney's freegan flannel, <a href="#">kale chips</a> cronut gentrify kogi <a href="http://www.example.com/">actually</a> tilde. Organic Williamsburg ennui retro 90's. Authentic flexitarian lo-fi lomo forage 90's. Selfies trust fund mumblecore, Shoreditch whatever fashion axe scenester fingerstache cray salvia keytar. Cliche Bushwick wayfarers, ethical fixie pour-over Banksy PBR&B leggings disrupt mustache.</p>

    <ul>
        <li>Thundercats Helvetica XOXO vinyl.</li>
        <li>Migas Shoreditch aesthetic Neutra.</li>
        <li>Street art chia umami</li>
        <li>High Life asymmetrical messenger bag</li>
    </ul>

    <p>Trust fund you <b>probably haven't heard of them</b> Helvetica, Bushwick letterpress tousled viral Blue Bottle 90's irony kogi retro farm-to-table. Hoodie synth Wes Anderson Intelligentsia. Lomo you probably haven't heard of them artisan DIY sartorial distillery asymmetrical PBR.</p>

    <h4>Interstitial Heading</h4>

    <p>Trust fund you <b>probably haven't heard of them</b> Helvetica, Bushwick letterpress tousled viral Blue Bottle 90's irony kogi retro farm-to-table. Hoodie synth Wes Anderson Intelligentsia. Lomo you probably haven't heard of them artisan DIY sartorial distillery asymmetrical PBR.</p>

    <ol>
        <li>You probably haven't heard of them</li>
        <li>Actually 90's Williamsburg wayfarers</li>
        <li>PBR stumptown sriracha</li>
        <li>Blue Bottle Wes Anderson</li>
    </ol>

    <blockquote>
        <p>Banksy synth keytar, irony mlkshk Carles butcher Neutra YOLO distillery gluten-free. Cardigan skateboard sustainable pug flannel, Truffaut bicycle rights. Hella street art yr, direct trade Helvetica sartorial chambray Odd Future raw denim. Truffaut fingerstache chillwave, lo-fi slow-carb readymade selvage Banksy sartorial semiotics. Pinterest quinoa freegan, fashion axe cray trust fund tousled.</p>
    </blockquote>

    <p>McSweeney's freegan flannel, kale chips <i>cronut gentrify</i> kogi actually tilde. Organic Williamsburg ennui retro 90's. Authentic flexitarian lo-fi lomo forage 90's. Selfies trust fund mumblecore, Shoreditch whatever fashion axe scenester fingerstache cray salvia keytar. Cliche Bushwick wayfarers, ethical fixie pour-over Banksy PBR&B leggings disrupt mustache.</p>
</section>


<h2>Content Modules</h2>

<section class="delineated">
    <h3>Person</h3>

    {% for person in site.data.people.people limit:1 offset:1 %}
        {% include partial-person.html person=person %}
    {% endfor %}
</section>

<section class="delineated">
    <h3>Event (Small, no talks)</h3>

    {% for event in site.data.events.events limit:1 offset:5 %}
        {% include partial-event-small.html event=event talks="false" %}
    {% endfor %}
</section>

<section>
    <h3>Event (Small, with talks)</h3>

    {% for event in site.data.events.events limit:1 offset:5 %}
        {% include partial-event-small.html event=event talks="true" %}
    {% endfor %}
</section>
